.education__container {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .education__container-text {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }
  .education__container-title {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .education__container-title_text {
      display: flex;
      align-items: center;
      gap: 50px;

      h2 {
        font-size: 96px;
        font-weight: 100;
      }
    }
  }
  .education__container-list {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    .education__container-list_content {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
